{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Pin #' ~ pin.id %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Edit Pin #{{ pin.id }}</h1>

            {{ include('pins/_form.html.twig', {'submitButtonText': 'Update Pin'}) }}
        </div>
    </div>
{% endblock %}
