{% extends 'base.html.twig' %}

{% block title 'Edit Pin #' ~ pin.id %}

{% block body %}
    <h1>Edit Pin #{{ pin.id }}</h1>

    {{ include('pins/_form.html.twig', {'submitButtonText': 'Update Pin'}) }}
{% endblock %}
