{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}
    <article>
        <h1>{{ pin.title }}</h1>
        <p>{{ pin.description }}</p>
    </article>
    
    <a href="{{ path('app_pins_edit', {id: pin.id}) }}">Edit</a> | 
    <a href="{{ path('app_home') }}">Go Back</a>
{% endblock %}
