<footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot; 
            Built with <span class="text-danger">&hearts;</span> by <a href="https://teachersdunet.com">TDN</a>.
        </small>
    </p>
</footer>
