{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="row">
        <col-md-6 class="mx-auto">
            <h1>Oops! An Error Occurred</h1>

            <h2>The server returned a "403 Forbidden".</h2>

            <p>
                Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused. Go back to <a href="{{ path('app_home') }}">homepage</a>.
            </p>
        </col-md-6>
    </div>
{% endblock %}
